body {
    color: white;
    font: 1.25em Snell Roundhand Regular, sans-serif;
    font-size: 100%;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 30px;
    position: relative;
    top: 50%;
}

.panel {
    min-height: 100vh;
    padding-top: 25vh;
    width: 100%;
}

.Shanhai 1 {
    background-color: #835f45;
}

.Shanhai 2 {
    background-color: #011c01;
}

.Shanhai 3 {
    background-color: #ffffff;
}

.Shanhai 4 {
    background-color: #011c01;
/*    min-height: 100vh;*/
}

.circle {
    background-color: #835f45;
    border-radius: 50%;
    height: 25em;
    margin: 0 auto;
    max-width: 25em;
    position: relative;
}

.Shanhai {
    animation: shanhai .5s infinite steps(12);
    background: url('../img/ant-walking-1.png') 0 0;
    /*background-color: blue;*/
    height: 240px;
    position: relative;
    transform: rotate(90deg) translateX(90px) translateY(-37px) scaleX(1) scaleY(1);
    width: 320px;
}

@keyframes ant {
    to {
        background-position: -3840px;
    }
}
