body {
    color: white;
    font-family: 'PTSans', Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 30px;
    position: relative;
    top: 50%;
}

.panel {
    min-height: 100vh;
    padding-top: 25vh;
    width: 100%;
}

.blue {
    background-color: #835f45;
}

.turqoise {
    background-color: saddlebrown;
}

.green {
    background-color: burlywood;
}

.bordeaux {
    background-color: rosybrown;
/*    min-height: 100vh;*/
}

.circle {
    background-color: #011c01;
    border-radius: 50%;
    height: 25em;
    margin: 0 auto;
    max-width: 25em;
    position: relative;
}

.shan {
    animation: shan .7s infinite steps(7);
    background: url('../img/Shan.png') 0 0;
    /*background-color: #835f45;*/
    height: 280px;
    position: relative;
    transform: rotate(0deg) translateX(200px) translateY(60px) scaleX(1) scaleY(1);
    width: 320px;
}

@keyframes shan {
    to {
        background-position: -3040px;
    }
}
